* text=auto !eol
apidocs/allclasses-frame.html -text svneol=unset#text/html
apidocs/allclasses-noframe.html -text svneol=unset#text/html
apidocs/constant-values.html -text svneol=unset#text/html
apidocs/deprecated-list.html -text svneol=unset#text/html
apidocs/index-files/index-1.html -text svneol=unset#text/html
apidocs/index-files/index-10.html -text svneol=unset#text/html
apidocs/index-files/index-11.html -text svneol=unset#text/html
apidocs/index-files/index-12.html -text svneol=unset#text/html
apidocs/index-files/index-13.html -text svneol=unset#text/html
apidocs/index-files/index-14.html -text svneol=unset#text/html
apidocs/index-files/index-15.html -text svneol=unset#text/html
apidocs/index-files/index-2.html -text svneol=unset#text/html
apidocs/index-files/index-3.html -text svneol=unset#text/html
apidocs/index-files/index-4.html -text svneol=unset#text/html
apidocs/index-files/index-5.html -text svneol=unset#text/html
apidocs/index-files/index-6.html -text svneol=unset#text/html
apidocs/index-files/index-7.html -text svneol=unset#text/html
apidocs/index-files/index-8.html -text svneol=unset#text/html
apidocs/index-files/index-9.html -text svneol=unset#text/html
apidocs/index.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/API.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/Callback.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/ExpandDirection.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/Gate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/GateException.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/GateType.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/LocalAreaGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/LocalBlockGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/LocalGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/LocalWorld.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/RemoteAreaGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/RemoteBlockGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/RemoteException.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/RemoteGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/RemoteLocation.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/RemotePlayer.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/RemoteServer.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/RemoteWorld.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/Reservation.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/ReservationException.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/SpawnDirection.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/SpawnSearch.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/TransporterException.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/API.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/Callback.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/ExpandDirection.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/Gate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/GateException.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/GateType.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/LocalAreaGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/LocalBlockGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/LocalGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/LocalWorld.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/RemoteAreaGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/RemoteBlockGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/RemoteException.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/RemoteGate.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/RemoteLocation.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/RemotePlayer.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/RemoteServer.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/RemoteWorld.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/Reservation.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/ReservationException.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/SpawnDirection.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/SpawnSearch.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/class-use/TransporterException.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/EntityArriveEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/EntityDepartEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/LocalGateCreateEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/LocalGateDestroyEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/LocalPlayerPMEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemoteGateCreateEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemoteGateDestroyEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemotePlayerChangeWorldEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemotePlayerChatEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemotePlayerDeathEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemotePlayerJoinEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemotePlayerKickEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemotePlayerPMEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemotePlayerQuitEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemoteServerConnectEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/RemoteServerDisconnectEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/EntityArriveEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/EntityDepartEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/LocalGateCreateEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/LocalGateDestroyEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/LocalPlayerPMEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemoteGateCreateEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemoteGateDestroyEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemotePlayerChangeWorldEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemotePlayerChatEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemotePlayerDeathEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemotePlayerJoinEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemotePlayerKickEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemotePlayerPMEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemotePlayerQuitEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemoteServerConnectEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/class-use/RemoteServerDisconnectEvent.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/package-frame.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/package-summary.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/package-tree.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/event/package-use.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/package-frame.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/package-summary.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/package-tree.html -text svneol=unset#text/html
apidocs/org/bennedum/transporter/api/package-use.html -text svneol=unset#text/html
apidocs/overview-frame.html -text svneol=unset#text/html
apidocs/overview-summary.html -text svneol=unset#text/html
apidocs/overview-tree.html -text svneol=unset#text/html
apidocs/package-list -text
apidocs/resources/background.gif -text svneol=unset#image/gif
apidocs/resources/tab.gif -text svneol=unset#image/gif
apidocs/resources/titlebar.gif -text svneol=unset#image/gif
apidocs/resources/titlebar_end.gif -text svneol=unset#image/gif
apidocs/serialized-form.html -text svneol=unset#text/html
apidocs/stylesheet.css -text svneol=unset#text/css
/build.xml -text
/manifest.mf -text
nbproject/build-impl.xml -text
nbproject/genfiles.properties -text
nbproject/project.properties -text
nbproject/project.xml -text
src/org/bennedum/transporter/APIBackend.java -text
src/org/bennedum/transporter/Base64.java -text
src/org/bennedum/transporter/BlockException.java -text
src/org/bennedum/transporter/BlockListenerImpl.java -text
src/org/bennedum/transporter/BuildableBlock.java -text
src/org/bennedum/transporter/Chat.java -text
src/org/bennedum/transporter/Config.java -text
src/org/bennedum/transporter/Context.java -text
src/org/bennedum/transporter/Design.java -text
src/org/bennedum/transporter/DesignBlock.java -text
src/org/bennedum/transporter/DesignBlockDetail.java -text
src/org/bennedum/transporter/DesignException.java -text
src/org/bennedum/transporter/DesignMatch.java -text
src/org/bennedum/transporter/Designs.java -text
src/org/bennedum/transporter/Economy.java -text
src/org/bennedum/transporter/EconomyException.java -text
src/org/bennedum/transporter/EntityListenerImpl.java -text
src/org/bennedum/transporter/GateBlock.java -text
src/org/bennedum/transporter/GateImpl.java -text
src/org/bennedum/transporter/GateMap.java -text
src/org/bennedum/transporter/Gates.java -text
src/org/bennedum/transporter/Global.java -text
src/org/bennedum/transporter/Inventory.java -text
src/org/bennedum/transporter/InventoryException.java -text
src/org/bennedum/transporter/LightningMode.java -text
src/org/bennedum/transporter/LocalAreaGateImpl.java -text
src/org/bennedum/transporter/LocalBlockGateImpl.java -text
src/org/bennedum/transporter/LocalGateImpl.java -text
src/org/bennedum/transporter/LocalWorldImpl.java -text
src/org/bennedum/transporter/Markers.java -text
src/org/bennedum/transporter/OldGateMap.java -text
src/org/bennedum/transporter/Options.java -text
src/org/bennedum/transporter/OptionsException.java -text
src/org/bennedum/transporter/OptionsListener.java -text
src/org/bennedum/transporter/Permissions.java -text
src/org/bennedum/transporter/PermissionsException.java -text
src/org/bennedum/transporter/Pins.java -text
src/org/bennedum/transporter/PlayerListenerImpl.java -text
src/org/bennedum/transporter/Players.java -text
src/org/bennedum/transporter/PotionEffectException.java -text
src/org/bennedum/transporter/PotionEffects.java -text
src/org/bennedum/transporter/RedstoneMode.java -text
src/org/bennedum/transporter/RemoteAreaGateImpl.java -text
src/org/bennedum/transporter/RemoteBlockGateImpl.java -text
src/org/bennedum/transporter/RemoteGateImpl.java -text
src/org/bennedum/transporter/RemotePlayerImpl.java -text
src/org/bennedum/transporter/RemoteWorldImpl.java -text
src/org/bennedum/transporter/ReservationImpl.java -text
src/org/bennedum/transporter/SavedBlock.java -text
src/org/bennedum/transporter/Server.java -text
src/org/bennedum/transporter/ServerException.java -text
src/org/bennedum/transporter/ServerListenerImpl.java -text
src/org/bennedum/transporter/Servers.java -text
src/org/bennedum/transporter/TODO -text
src/org/bennedum/transporter/Transporter.java -text
src/org/bennedum/transporter/Utils.java -text
src/org/bennedum/transporter/VehicleListenerImpl.java -text
src/org/bennedum/transporter/WorldException.java -text
src/org/bennedum/transporter/WorldListenerImpl.java -text
src/org/bennedum/transporter/Worlds.java -text
src/org/bennedum/transporter/api/API.java -text
src/org/bennedum/transporter/api/Callback.java -text
src/org/bennedum/transporter/api/ExpandDirection.java -text
src/org/bennedum/transporter/api/Gate.java -text
src/org/bennedum/transporter/api/GateException.java -text
src/org/bennedum/transporter/api/GateType.java -text
src/org/bennedum/transporter/api/LocalAreaGate.java -text
src/org/bennedum/transporter/api/LocalBlockGate.java -text
src/org/bennedum/transporter/api/LocalGate.java -text
src/org/bennedum/transporter/api/LocalWorld.java -text
src/org/bennedum/transporter/api/RemoteAreaGate.java -text
src/org/bennedum/transporter/api/RemoteBlockGate.java -text
src/org/bennedum/transporter/api/RemoteException.java -text
src/org/bennedum/transporter/api/RemoteGate.java -text
src/org/bennedum/transporter/api/RemoteLocation.java -text
src/org/bennedum/transporter/api/RemotePlayer.java -text
src/org/bennedum/transporter/api/RemoteServer.java -text
src/org/bennedum/transporter/api/RemoteWorld.java -text
src/org/bennedum/transporter/api/Reservation.java -text
src/org/bennedum/transporter/api/ReservationException.java -text
src/org/bennedum/transporter/api/SpawnDirection.java -text
src/org/bennedum/transporter/api/SpawnSearch.java -text
src/org/bennedum/transporter/api/TransporterException.java -text
src/org/bennedum/transporter/api/event/EntityArriveEvent.java -text
src/org/bennedum/transporter/api/event/EntityDepartEvent.java -text
src/org/bennedum/transporter/api/event/LocalGateCreateEvent.java -text
src/org/bennedum/transporter/api/event/LocalGateDestroyEvent.java -text
src/org/bennedum/transporter/api/event/LocalPlayerPMEvent.java -text
src/org/bennedum/transporter/api/event/RemoteGateCreateEvent.java -text
src/org/bennedum/transporter/api/event/RemoteGateDestroyEvent.java -text
src/org/bennedum/transporter/api/event/RemotePlayerChangeWorldEvent.java -text
src/org/bennedum/transporter/api/event/RemotePlayerChatEvent.java -text
src/org/bennedum/transporter/api/event/RemotePlayerDeathEvent.java -text
src/org/bennedum/transporter/api/event/RemotePlayerJoinEvent.java -text
src/org/bennedum/transporter/api/event/RemotePlayerKickEvent.java -text
src/org/bennedum/transporter/api/event/RemotePlayerPMEvent.java -text
src/org/bennedum/transporter/api/event/RemotePlayerQuitEvent.java -text
src/org/bennedum/transporter/api/event/RemoteServerConnectEvent.java -text
src/org/bennedum/transporter/api/event/RemoteServerDisconnectEvent.java -text
src/org/bennedum/transporter/client/Patcher.form -text
src/org/bennedum/transporter/client/Patcher.java -text
src/org/bennedum/transporter/command/APICommand.java -text
src/org/bennedum/transporter/command/CommandException.java -text
src/org/bennedum/transporter/command/CommandProcessor.java -text
src/org/bennedum/transporter/command/DebugCommand.java -text
src/org/bennedum/transporter/command/DesignCommand.java -text
src/org/bennedum/transporter/command/GateCommand.java -text
src/org/bennedum/transporter/command/GlobalCommands.java -text
src/org/bennedum/transporter/command/HelpCommand.java -text
src/org/bennedum/transporter/command/NetworkCommand.java -text
src/org/bennedum/transporter/command/PinCommand.java -text
src/org/bennedum/transporter/command/ReloadCommand.java -text
src/org/bennedum/transporter/command/SaveCommand.java -text
src/org/bennedum/transporter/command/ServerCommand.java -text
src/org/bennedum/transporter/command/TrpCommandProcessor.java -text
src/org/bennedum/transporter/command/WorldCommand.java -text
src/org/bennedum/transporter/config/Configuration.java -text
src/org/bennedum/transporter/config/ConfigurationNode.java -text
src/org/bennedum/transporter/net/Cipher.java -text
src/org/bennedum/transporter/net/Connection.java -text
src/org/bennedum/transporter/net/Message.java -text
src/org/bennedum/transporter/net/Network.java -text
src/org/bennedum/transporter/net/NetworkException.java -text
src/org/bennedum/transporter/net/Result.java -text
src/org/bennedum/transporter/test/GateMap.java -text
src/org/bennedum/transporter/test/PlayerActions.java -text
src/org/bennedum/transporter/test/TestGate.java -text
src/plugin.yml -text
src/resources/LICENSE.txt -text
src/resources/README.txt -text
src/resources/client/1306845669000/Transporter.class -text
src/resources/client/1306845669000/ev.class -text
src/resources/client/1306845669000/manifest -text
src/resources/client/1309520900000/Transporter.class -text
src/resources/client/1309520900000/ex.class -text
src/resources/client/1309520900000/manifest -text
src/resources/client/1310111031000/Transporter.class -text
src/resources/client/1310111031000/ex.class -text
src/resources/client/1310111031000/manifest -text
src/resources/client/1316075312000/Transporter.class -text
src/resources/client/1316075312000/cw.class -text
src/resources/client/1316075312000/manifest -text
src/resources/client/1321653290000/Transporter.class -text
src/resources/client/1321653290000/aam.class -text
src/resources/client/1321653290000/manifest -text
src/resources/client/1326382442000/Transporter.class -text
src/resources/client/1326382442000/dr.class -text
src/resources/client/1326382442000/manifest -text
src/resources/client/1330677677000/Transporter.class -text
src/resources/client/1330677677000/du.class -text
src/resources/client/1330677677000/manifest -text
src/resources/client/1332432053000/Transporter.class -text
src/resources/client/1332432053000/dw.class -text
src/resources/client/1332432053000/manifest -text
src/resources/client/1333544508000/Transporter.class -text
src/resources/client/1333544508000/dw.class -text
src/resources/client/1333544508000/manifest -text
src/resources/client/bandaid.png -text
src/resources/client/magnifier.png -text
src/resources/client/src/Transporter.src -text
src/resources/client/src/client.patch -text
src/resources/config.yml -text
src/resources/designs/boat.yml -text
src/resources/designs/booth.yml -text
src/resources/designs/manifest -text
src/resources/designs/minecart.yml -text
src/resources/designs/nether.yml -text
src/resources/designs/pad.yml -text
src/resources/designs/redstone.yml -text
src/resources/designs/small.yml -text
src/resources/designs/stargate.yml -text
src/resources/designs/web.yml -text
src/resources/dynmap/gate-info.png -text
src/resources/dynmap/gate-marker.png -text
src/resources/dynmap/manifest -text
src/resources/dynmap/transporter.css -text
src/resources/dynmap/transporter.js -text
src/resources/images/transporter-tiny.png -text
src/resources/manifest -text
src/resources/materials.txt -text
src/resources/overviewer/gate-info.png -text
src/resources/overviewer/gate-marker.png -text
src/resources/overviewer/manifest -text
src/resources/overviewer/transporter.css -text
src/resources/overviewer/transporter.js -text
src/resources/overviewer/transporterConfig.js -text
src/resources/permissions.properties -text
