* text=auto !eol
/build.xml -text
/manifest.mf -text
nbproject/build-impl.xml -text
nbproject/genfiles.properties -text
nbproject/project.properties -text
nbproject/project.xml -text
src/org/bennedum/transporter/Base64.java -text
src/org/bennedum/transporter/BlockException.java -text
src/org/bennedum/transporter/BlockListenerImpl.java -text
src/org/bennedum/transporter/BuildableBlock.java -text
src/org/bennedum/transporter/Chat.java -text
src/org/bennedum/transporter/Config.java -text
src/org/bennedum/transporter/Context.java -text
src/org/bennedum/transporter/Design.java -text
src/org/bennedum/transporter/DesignBlock.java -text
src/org/bennedum/transporter/DesignBlockDetail.java -text
src/org/bennedum/transporter/DesignException.java -text
src/org/bennedum/transporter/Designs.java -text
src/org/bennedum/transporter/Economy.java -text
src/org/bennedum/transporter/EconomyException.java -text
src/org/bennedum/transporter/EntityListenerImpl.java -text
src/org/bennedum/transporter/Gate.java -text
src/org/bennedum/transporter/GateBlock.java -text
src/org/bennedum/transporter/GateException.java -text
src/org/bennedum/transporter/GateMap.java -text
src/org/bennedum/transporter/Gates.java -text
src/org/bennedum/transporter/Global.java -text
src/org/bennedum/transporter/Inventory.java -text
src/org/bennedum/transporter/InventoryException.java -text
src/org/bennedum/transporter/LightningMode.java -text
src/org/bennedum/transporter/LocalGate.java -text
src/org/bennedum/transporter/Markers.java -text
src/org/bennedum/transporter/Options.java -text
src/org/bennedum/transporter/OptionsException.java -text
src/org/bennedum/transporter/OptionsListener.java -text
src/org/bennedum/transporter/Permissions.java -text
src/org/bennedum/transporter/PermissionsException.java -text
src/org/bennedum/transporter/Pins.java -text
src/org/bennedum/transporter/PlayerListenerImpl.java -text
src/org/bennedum/transporter/PlayerProxy.java -text
src/org/bennedum/transporter/Players.java -text
src/org/bennedum/transporter/RedstoneMode.java -text
src/org/bennedum/transporter/RemoteGate.java -text
src/org/bennedum/transporter/Reservation.java -text
src/org/bennedum/transporter/ReservationException.java -text
src/org/bennedum/transporter/SavedBlock.java -text
src/org/bennedum/transporter/Server.java -text
src/org/bennedum/transporter/ServerException.java -text
src/org/bennedum/transporter/ServerListenerImpl.java -text
src/org/bennedum/transporter/Servers.java -text
src/org/bennedum/transporter/SpawnDirection.java -text
src/org/bennedum/transporter/TODO -text
src/org/bennedum/transporter/Transporter.java -text
src/org/bennedum/transporter/TransporterAPI.java -text
src/org/bennedum/transporter/TransporterException.java -text
src/org/bennedum/transporter/Utils.java -text
src/org/bennedum/transporter/VehicleListenerImpl.java -text
src/org/bennedum/transporter/WorldException.java -text
src/org/bennedum/transporter/WorldListenerImpl.java -text
src/org/bennedum/transporter/WorldProxy.java -text
src/org/bennedum/transporter/Worlds.java -text
src/org/bennedum/transporter/client/Patcher.form -text
src/org/bennedum/transporter/client/Patcher.java -text
src/org/bennedum/transporter/command/CommandException.java -text
src/org/bennedum/transporter/command/CommandProcessor.java -text
src/org/bennedum/transporter/command/DebugCommand.java -text
src/org/bennedum/transporter/command/DesignCommand.java -text
src/org/bennedum/transporter/command/GateCommand.java -text
src/org/bennedum/transporter/command/GlobalCommands.java -text
src/org/bennedum/transporter/command/HelpCommand.java -text
src/org/bennedum/transporter/command/NetworkCommand.java -text
src/org/bennedum/transporter/command/PinCommand.java -text
src/org/bennedum/transporter/command/ReloadCommand.java -text
src/org/bennedum/transporter/command/SaveCommand.java -text
src/org/bennedum/transporter/command/ServerCommand.java -text
src/org/bennedum/transporter/command/TrpCommandProcessor.java -text
src/org/bennedum/transporter/command/WorldCommand.java -text
src/org/bennedum/transporter/config/Configuration.java -text
src/org/bennedum/transporter/config/ConfigurationNode.java -text
src/org/bennedum/transporter/net/Cipher.java -text
src/org/bennedum/transporter/net/Connection.java -text
src/org/bennedum/transporter/net/Message.java -text
src/org/bennedum/transporter/net/Network.java -text
src/org/bennedum/transporter/net/NetworkException.java -text
src/org/bennedum/transporter/net/Result.java -text
src/plugin.yml -text
src/resources/LICENSE.txt -text
src/resources/README.txt -text
src/resources/client/1306845669000/Transporter.class -text
src/resources/client/1306845669000/ev.class -text
src/resources/client/1306845669000/manifest -text
src/resources/client/1309520900000/Transporter.class -text
src/resources/client/1309520900000/ex.class -text
src/resources/client/1309520900000/manifest -text
src/resources/client/1310111031000/Transporter.class -text
src/resources/client/1310111031000/ex.class -text
src/resources/client/1310111031000/manifest -text
src/resources/client/1316075312000/Transporter.class -text
src/resources/client/1316075312000/cw.class -text
src/resources/client/1316075312000/manifest -text
src/resources/client/1321653290000/Transporter.class -text
src/resources/client/1321653290000/aam.class -text
src/resources/client/1321653290000/manifest -text
src/resources/client/1326382442000/Transporter.class -text
src/resources/client/1326382442000/dr.class -text
src/resources/client/1326382442000/manifest -text
src/resources/client/1330677677000/Transporter.class -text
src/resources/client/1330677677000/du.class -text
src/resources/client/1330677677000/manifest -text
src/resources/client/1332432053000/Transporter.class -text
src/resources/client/1332432053000/dw.class -text
src/resources/client/1332432053000/manifest -text
src/resources/client/bandaid.png -text
src/resources/client/magnifier.png -text
src/resources/client/src/Transporter.src -text
src/resources/client/src/client.patch -text
src/resources/config.yml -text
src/resources/designs/boat.yml -text
src/resources/designs/booth.yml -text
src/resources/designs/manifest -text
src/resources/designs/minecart.yml -text
src/resources/designs/nether.yml -text
src/resources/designs/pad.yml -text
src/resources/designs/redstone.yml -text
src/resources/designs/small.yml -text
src/resources/designs/stargate.yml -text
src/resources/designs/web.yml -text
src/resources/dynmap/gate-info.png -text
src/resources/dynmap/gate-marker.png -text
src/resources/dynmap/manifest -text
src/resources/dynmap/transporter.css -text
src/resources/dynmap/transporter.js -text
src/resources/images/transporter-tiny.png -text
src/resources/manifest -text
src/resources/materials.txt -text
src/resources/overviewer/gate-info.png -text
src/resources/overviewer/gate-marker.png -text
src/resources/overviewer/manifest -text
src/resources/overviewer/transporter.css -text
src/resources/overviewer/transporter.js -text
src/resources/overviewer/transporterConfig.js -text
src/resources/permissions.properties -text
